* {
    box-sizing: border-box;
}

.top {
width: 260px;
height: 105px;
background-color: #0B2652;

}

.middle {
top: 0px;
left: 90px;
width: 260px;
height: 608px;
background-color: #113D84;

}

.bottom {
    left: 90px;
width: 260px;
height: 40px;
background-color: #0B2652;

}

.imp {
    position: relative;
    right: 120px;
    bottom: 7px;
    color: white;
}

.imp1 {
    position: relative;
    right: 160px;
    bottom: 7px;
    color: white;
}

.imp2 {
    position: relative;
    right: 130px;
    bottom: 7px;
    color: white;
}

.imp3 {
    position: relative;
    right: 110px;
    bottom: 7px;
    color: white;
}

.imp4 {
    position: relative;
    right: 145px;
    bottom: 7px;
    color: white;
}

.imp5 {
    position: relative;
    right: 145px;
    bottom: 7px;
    color: white;
}

.imp6 {
    position: relative;
    right: 110px;
    bottom: 7px;
    color: white;
}

.imp7 {
    position: relative;
    right: 150px;
    bottom: 7px;
    color: white;
}


.imp8 {
    position: relative;
    right: 110px;
    bottom: 7px;
    color: white;
}

.imp9 {
    position: relative;
    right: 150px;
    bottom: 7px;
    color: white;
}
.icon {
    color: white;
    margin-right: 135px;
    margin-top: 30px;
}

.box {
    position: relative;
    top: 55px;
    width:35px;
    left: 10px;
    height:35px;
    background-color: #113D84;
    border-radius: 5px;
    color: white;
    font-weight: 300;

}

.top {
    display: flex;
}

.content {
    position: relative;
    top: 43px;
    color: white;
    left: 30px;
}

.another {
    position: relative;
    top: 40px;
    color: white;
  font-size: 18px;
}


.logout {
    position: relative;
    top: 60px;
    color: white;
    left: 54px;
}

.img {
    position: relative;
    right: 10px;
}

.p {
    position: relative;
    color: white;
    bottom: 15px;
}

/* .imp,.imp2,.imp3,.imp4,.imp5,.imp6,.imp7,.imp8,.imp9:hover {
    background-color: #3469BE;
} */